h2.page-title {
  font-family: Merriweather, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1.NPDESTitle {
  font-family: Merriweather, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.3;
  font-weight: 800;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 240%;
}

hr#hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  margin-top: 0;
}

a {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: black;
}

section a:visited {
  color: black;
}

section a {
  color: black;
}

#bodytext {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 1.5em;
}

#bodylink {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

form {
  font-weight: bold;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 5px;
  width: 100%;
}
#testing {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
}

#latitude {
  display: none;
}

#longitude {
  display: none;
}

.form-text {
  margin-top: 0;
}

#conclusion {
  padding-bottom: 1%;
}
#eContainer {
  display: none;
  background-color: #e4fbff;
  padding-bottom: 5%;
  padding-top: 4%;
}
tr {
  background-color: white;
}

#rButton {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 5%;
}

.note {
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-weight: 400;
  background-color: #eff0f2;
  border-radius: 12px;
}

#startdatepicker {
  margin-right: 45%;
  margin-bottom: 4%;
  margin-top: 20px;
}

#enddatepicker {
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  #enddatepicker {
    margin-right: 25%;
  }
}

#location {
  padding-right: 4%;
  margin-top: 20px;
  max-width: 400px;
}

#mapViewButton {
  /* margin-left: 3%; */
  width: 150px;
}

#h3Facility {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 140%;
}
#h3Results {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 140%;
}

#tableEI {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 110%;
  font-weight: 400;
}
#contactlink {
  color: #0071bc;
}
.responsivebr {
  display: none;
}

.fa {
  box-sizing: content-box;
  padding: 4px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-twitter {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-pinterest {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa-envelope {
  background: white;
  color: #0071bc;
  border: 1px solid #0071bc;
}

.fa:visited {
  color: #0071bc;
}

.fa:hover {
  opacity: 0.8;
  color: white;
  background: #0071bc;
  text-decoration: none;
}

.connect-title__link {
  margin-left: 35%;
}

.connecting {
  text-align: right;
}
.headrow {
  margin-top: 2%;
}

@media only screen and (max-width: 700px) {
  .menu-link {
    display: none;
  }
  .menu-item {
    display: none;
  }
  .fa {
    display: none;
  }
  #sharing {
    display: none;
  }

  .connect-title__link {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #mapViewButton {
    margin-top: 20px;
    margin-left: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  #mapViewButton {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 568px) {
  #startdatepicker {
    margin-right: 20%;
  }

  #rButton {
    margin-left: 9%;
  }
}

@media only screen and (max-width: 1050px) {
  .responsivebr {
    display: inline-flex;
  }
}

.signup-footer {
  margin-bottom: 5%;
}

#viewDiv {
  height: 500px;
}

.loader {
  border: 16px solid #a7a7a7;
  border-radius: 50%;
  border-top: 16px solid #0071bc;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: rgb(156, 15, 15);
  display: none;
  text-align: center;
}

.fat {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-stack-1x {
  font-size: 42px;
}

.fa-circle {
  color: #0071bc;
}

.number {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 33px;
  top: 5px;
  right: 14px;
  position: absolute;
}
