{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "US Environmental Protection Agency (Staging)",
      "url": "https://api.epa.gov/STAGE/lew"
    }
  ],
  "info": {
    "description": "Use this web service to calculate a rainfall erosivity factor (R factor) for small construction sites based on the construction start date, end date and location.\n  \n  If the small construction project is located in an area where EPA is the permitting authority and the R factor is less than five, then under EPA's stormwater regulation, NPDES permitting requirements can be waived for the stormwater discharges from the construction site. \n",
    "version": "2.0.0",
    "title": "EPA Low Erosivity Waiver Erosion Factor Calculator",
    "termsOfService": "https://edg.epa.gov/EPA_Data_License.html",
    "contact": {
      "email": "cgp@epa.gov"
    },
    "license": {
      "name": "Creative Commons Zero Public Domain Dedication",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    }
  },
  "paths": {
    "/v1/rfactor": {
      "get": {
        "tags": ["Rainfall Erosivity"],
        "summary": "Determine your eligibility for the LEW",
        "description": "Calculates a rainfall erosivity factor (R factor) based on a small construction site’s start date, end date and location.",
        "operationId": "calculateRFactorGet",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Date of initial earth disturbance provided in ISO 8601 format",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2019-01-15",
              "default": "2019-01-15"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Date of final stabilization provided in ISO 8601 format",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2019-03-13",
              "default": "2019-03-13"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location to be examined for LEW eligibility provided as a GeoJSON point geometry",
            "required": true,
            "schema": {
              "type": "string",
              "example": "{\"geometry\":{\"type\":\"Point\",\"coordinates\":[-87.845556,42.582222]}}",
              "default": "{\"geometry\":{\"type\":\"Point\",\"coordinates\":[-87.845556,42.582222]}}"
            }
          },
          {
            "in": "header",
            "name": "X-Api-Key",
            "description": "API key used to access EPA web service resources. The below default value key is used for testing purposes only. Web service consumers should <a target=\"_blank\" href=\"..\\api_key_signup.html\">obtain their own API key</a>",
            "schema": {
              "type": "string",
              "default": "yCM9DKRltA4gTGovk2naSvodO5iUDBCT7FAJ3CF5"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RFactorOutput"
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about LEW eligibility and exceptions.",
    "url": "https://www.epa.gov/npdes/rainfall-erosivity-factor-calculator-small-construction-sites"
  },
  "components": {
    "schemas": {
      "RFactorInput": {
        "type": "object",
        "title": "RFactor Input",
        "properties": {
          "start_date": {
            "type": "string",
            "example": "2019-01-15"
          },
          "end_date": {
            "type": "string",
            "example": "2019-03-13"
          },
          "location": {
            "type": "object",
            "title": "GeoJSON Point",
            "properties": {
              "geometry": {
                "type": "object",
                "title": "GeoJSON Point",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "Point"
                  },
                  "coordinates": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "example": [-87.845556, 42.582222]
                  }
                },
                "required": ["type", "coordinates"]
              }
            },
            "required": ["geometry"]
          }
        },
        "required": ["startDate", "endDate", "location"]
      },
      "RFactorOutput": {
        "type": "object",
        "title": "RFactor Output",
        "properties": {
          "rfactor": {
            "type": "number",
            "format": "double",
            "example": 0.476
          }
        },
        "required": ["factor"]
      }
    }
  }
}
