{
  "all": true,
  "include": [
    "app/**/*.{ts,js}"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/coverage/**",
    "**/epa-template-files/**",
    "**/tests/**",
    "**/api-docs/**"
  ]
}